@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #ededed;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-playfair-display: var(--font-playfair-display);
  --font-manrope: var(--font-manrope);
  --font-clash: "Clash";
  --font-array: "Array";
}

@font-face {
  font-family: "Clash";
  src: url("/fonts/ClashGrotesk-Variable.ttf") format("truetype");
  font-weight: 100 300 500 800 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Array";
  src: url("/fonts/Array-Regular.otf") format("opentype");
  font-weight: 100 300 500 800 900;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* default font is manrope */
  font-family: var(--font-array), Arial, Helvetica, sans-serif;
}
